footer {
  margin: 32px auto;
  text-align: center;
  color: var(--fai-color-text-muted);


  .footer-links {
    margin-top: 0.25rem;
    a {
      text-decoration: underline;
      color: var(--fai-color-text);

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}
